@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  margin: 0;
}

button {
  cursor: pointer;
  transition: transform 0.2s ease;
}
button:hover {
  transform: scale(1.05);
}
